.container{
	width:100%;
}

.top{
    background-color: #F7BE81;
	margin-top:1%;
	margin-bottom:3%;
}   

.square{
    background-color: #F7BE81;
    font-size: 2rem;
	margin-bottom:3%;
}

