.container{
	width:100%;
}

.top{
    background-color: #F7BE81;
	margin-top:0%;
	margin-bottom:2%;
	padding:3%;
} 
.top2{
    background-color: #F7BE81;
	margin-bottom:1%;
}   

.space{
    background-color: #F7BE81;
    font-size: 2rem;
	margin:0% 0% 6% 0%;
	text-align:center;
	padding:10%;
}
.square{
    background-color: #F7BE81;
    font-size: 2rem;
	margin-bottom:3%;
	text-align:center;
	padding:4% 0% 4% 0%; 
}

